<section class="body-content">
    <div class="marquee-wrapper blog-marquee d-flex justify-content-center">
        <div id="breadcrumbs"><span><span><a href="/">Головна</a></span> <span class="seperator"></span> <span><a
                        href="/news">Новини</a></span> <span class="seperator"></span> <span
                    class="breadcrumb_last" aria-current="page">Литва передала боєприпаси калібром
                    155-мм</span></span></div>
        <div class="content text-left">
            <h1>7 березня Литва передала Україні ще один пакет військової допомоги, у якому містяться боєприпаси
                калібру 155 мм.</h1>
        </div>
    </div>
    <div class="container slim">
        <div class="post-meta">
            <p>07.03.2024</p>
        </div>
        <div class="wp-content">
            <div id="container-617722309" class=" wp-block-p3-wpo-container content_parent">
                <div class="inner-content container">

                    <p>Цю інформацію оприлюднили на офіційному веб-сайті Міністерства оборони Литви.</p>
                    <p>Глава литовського відомства оборони, Арвідас Анушаускас, зазначив: "Ми надсилаємо те, що
                        зараз найбільше потрібно Україні. Ми враховуємо їхні запити і продовжуємо надавати нашу
                        підтримку".</p>
                    <p>Про кількість переданих боєприпасів не було повідомлено.</p>
                    <p>Міністерство оборони Литви також зазначило, що, крім регулярної передачі військової техніки
                        та обладнання, країна активно залучена до навчань українських військових, надає послуги з
                        медичного лікування та реабілітації, проводить експертні консультації і сприяє виділенню
                        коштів у міжнародні фонди для підтримки України.</p>
                    <p><b>Литва допомагала нам і до цього</b></p>
                    <p>У липні 2023 року Литва затвердила довгостроковий план допомоги, який включав новий пакет
                        військової допомоги на 200 мільйонів євро на період з 2024 по 2026 рік.</p>
                    <p>Міністр оборони Литви Арвідас Анушаускас 19 вересня на "Рамштайні" представив новий пакет
                        військової допомоги для України, що включав "системи підриву, радари морського спостереження
                        та боєприпаси для протитанкового гранатомета Carl Gustaf".</p>
                    <p>10 листопада Україна отримала дві пускові установки до зенітно-ракетних комплексів NASAMS,
                        які придбав Вільнюс для Києва.</p>
                    <p>2 лютого 2024 року Міністерство оборони Литви виділило новий пакет військової допомоги для
                        України, в якому були системи детонації та тисячі патронів для протитанкових гранатометів.
                    </p>
                    <p>І це ще не вся інформація.Крім того, Литва продовжує навчати бійців ЗСУ, забезпечує лікування
                        та реабілітацію поранених українських військовослужбовців.</p>
                </div>

                <style>
                    #container-617722309 {}

                    #container-617722309>.inner-content {
                        max-width: 945px;
                    }

                    @media screen and (max-width: 992px) {
                        #container-617722309 {}

                        #container-617722309>.inner-content {}
                    }

                    @media screen and (max-width: 576px) {
                        #container-617722309 {}

                        #container-617722309>.inner-content {}
                    }
                </style>
            </div>
        </div>
        <hr>
    </div>
</section>