<a href="#main" class="skip-to-main-content-link">Skip to main content</a>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPV3H2B" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section class="body-content">
    <div class="marquee-wrapper blog-marquee d-flex justify-content-center">
        <div id="breadcrumbs"><span><span><a href="">Головна</a></span> <span class="seperator"></span> <span><a
                        href="/news">Новини</a></span> <span class="seperator"></span> <span
                    class="breadcrumb_last" aria-current="page">Хороші новини з фронту</span></span></div>
        <div class="content text-left">
            <h1>Хороші новини з фронту: втрати РФ перетнули дві "червоні лінії"</h1>
        </div>
    </div>
    <div class="container slim">
        <div class="post-meta">
            <p>06.03.2024</p>
        </div>
        <div class="wp-content">
            <div id="container-617722309" class=" wp-block-p3-wpo-container content_parent">
                <div class="inner-content container">

                    <p>Загальні втрати Росії у повномасштабній війні проти українців за добу перетнули дві "червоні
                        лінії".</p>
                    <p>За добу, зокрема, ліквідовано десятки бойових броньованих машин супротивника.</p>
                    <p>"Мінусовано" ще понад 1 200 загарбників, поділився Генштаб ЗСУ. В Україні загальні втрати
                        Росії потужно збільшилися за добу й перетнули нову "червону лінію" - тепер становлять понад
                        420 тисяч загарбників.
                        Упродовж доби ліквідовані ще 1 250 супротивників, і загальна кількість втрат досягла
                        позначки 420 270 окупантів, повідомив Генеральний штаб Збройних сил України</p>
                    <p>За відомостями Генштабу, "мінусовано" також багато ворожої техніки - 21 танк, 40 бойових
                        броньованих машин, 50 артилерійських систем, один засіб протиповітряної оборони, одна
                        реактивна система залпового вогню, 58 дронів оперативно-тактичного рівня, одна крилата
                        ракета та один корабель/катер.</p>
                    <p>Загарбники намагаються атакувати захисників української держави на низці напрямків, однак
                        наші воїни, попри те, що супротивники мають перевагу у техніці й живій силі, дають їм гідну
                        відсіч. Станом на вчора було відомо про ліквідацію на нашій землі 419 020 російських
                        окупантів.</p>
                    <p>Крім того, вчора стало відомо, що біля Керченської протоки українські морські дрони вдарили
                        по російському патрульному кораблю "Сергій Котов", було знищено кількох загарбників, є
                        постраждалі, а сам борт затонув.</p>
                </div>
                <div align="center">
                    <a href="https://images.unian.net/photos/2024_03/1709705789-4278.jpg?r=930514">
                        <img src="https://images.unian.net/photos/2024_03/1709705789-4278.jpg?r=930514"
                            alt="Description of the image">
                    </a>
                </div>
                <style>
                    #container-617722309 {}

                    #container-617722309>.inner-content {
                        max-width: 945px;
                    }

                    @media screen and (max-width: 992px) {
                        #container-617722309 {}

                        #container-617722309>.inner-content {}
                    }

                    @media screen and (max-width: 576px) {
                        #container-617722309 {}

                        #container-617722309>.inner-content {}
                    }
                </style>
            </div>
        </div>
        <hr>
        <nav class="navigation post-navigation" aria-label="Posts">
            {{!-- <h2 class="screen-reader-text">Навігація</h2> --}}

            {{!--
            <script type="text/javascript" src="js/popper.min.js" id="p3-popper-js"></script>
            <script type="text/javascript" src="js/bootstrap.min.js" id="p3-bootstrap-js"></script>
            <script type="text/javascript" src="js/slick.min.js" id="p3-slick-js"></script>
            <script type="text/javascript" src="js/wpo.js" id="p3-wpo-js"></script>
            <script type="text/javascript" src="js/wpo-settings.js" id="p3-wpo-settings-js"></script>
            <script type="text/javascript" id="p3-wpo-settings-js-after">
                /* <![CDATA[ */
                WPO.Settings.setBlogUrl("https://outdoornebraska.gov/");
                /* ]]> */
            </script>
            <script type="text/javascript" src="js/wpo-utility.js" id="p3-wpo-utility-js"></script>
            <script type="text/javascript" src="js/aos.js" id="p3-aos-js"></script>
            <script type="text/javascript" src="js/wpo-common.js" id="p3-wpo-common-js"></script>
            <script type="text/javascript" id="gt_widget_script_20966358-js-before">
                /* <![CDATA[ */
                window.gtranslateSettings = /* document.write */ window.gtranslateSettings || {}; window.gtranslateSettings['20966358'] = { "default_language": "en", "languages": ["en", "es", "ar", "zh-CN", "zh-TW", "vi"], "url_structure": "sub_domain", "wrapper_selector": ".gt_wrapper", "select_language_label": "Select Language", "horizontal_position": "inline", "flags_location": "https:\/\/outdoornebraska.gov\/wp-content\/plugins\/gtranslate\/flags\/" };
                /* ]]> */
            </script>
            <script src="js/dropdown.js" data-no-optimize="1" data-no-minify="1"
                data-gt-orig-url="/about/press-events/news/join-game-and-parks-virtual-fisheries-discussion/"
                data-gt-orig-domain="outdoornebraska.gov" data-gt-widget-id="20966358" defer=""></script>
            <script>
                jQuery(document).ready(function ($) {
                    $(document).on('frmFormComplete', function (event, form, response) {
                        dataLayer.push({ 'event': 'FormSubmission' });
                    });
                });
            </script> --}}