<section class="body-content">
    <div class="marquee-wrapper blog-marquee d-flex justify-content-center">
        <div id="breadcrumbs"><span><span><a href="/">Головна</a></span> <span class="seperator"></span> <span><a
                        href="/news">Новини</a></span> <span class="seperator"></span> <span
                    class="breadcrumb_last" aria-current="page">Можливий наступ РФ на півночі</span></span></div>
        <div class="content text-left">
            <h1>Ймовірний наступ РФ на півночі: в ГУР прокоментували загрозу</h1>
        </div>
    </div>
    <div class="container slim">
        <div class="post-meta">
            <p>08.03.2024</p>
        </div>
        <div class="wp-content">
            <div id="container-617722309" class="
wp-block-p3-wpo-container
content_parent
">
                <div class="inner-content
container
">
                    <img src="/images/article/fotoone.jpeg" alt="First photo"> <br>
                    <p><b>
                            <h4>Москва навмисно розганяє чутки про новий наступ на півночі.</h4>
                        </b></p>

                    <p>Російська Федерація навмисно запускає інформаційну хвилю про новий наступ на півночі України
                        — у Сумській та Чернігівській областях. Україна відстежує ситуацію та займається укріпленням
                        кордону. </p>

                    <p>Про це заявив представник Головного управління розвідки Андрій Юсов в коментарі LIGA.net </p>

                    <p>Представник розвідки наголошує, що подібні чутки окупанти неодноразово поширювали, але вони
                        стосувалися ймовірного загострення з території Білорусі. Натомість цього разу, зауважив
                        Юсов, "йдеться і про північ", а саме про Чернігівщину та Сумщину. </p>

                    <p>"З іншого боку, загроза постійно зберігається, тому ситуація відстежується і щодо формування,
                        і щодо передислокації угруповань. Звичайно, ведеться робота з посилення кордону. Тобто
                        жодних несподіванок в цій ситуації не буде", — каже представник ГУР.</p>


                    <p>Раніше повідомлялося, що російські окупанти зосередили близько 19 тис. осіб на кордоні
                        Чернігівської та Сумської областей. Юсов каже, що ця кількість не змінилася.</p>

                    <p>З його слів, передислокація окремих частин росіян пов'язана з бойовими діями, які
                        відбуваються протягом останнього тижня у Бєлгородській області Росії.</p>

                    <img src="/images/article/85d7eb7ba705f24808723cb8f4fd905b.jpeg"> <br>

                    <p>
                    <h3>Ситуація на північному кордоні</h3>
                    </p>

                    <p>Речник ДПСУ Андрій Демченко повідомляв про ситуацію на кордоні. Так, з його слів, наразі
                        ситуація на кордоні з Білоруссю повністю контрольована. Натомість з території Росії є
                        загроза прориву диверсійно-розвідувальних груп (ДРГ).</p>

                    <p>Тим часом Сумська ОВА спростовувала інформацію у Мережі про нібито наступ російських
                        окупаційних військ на область. Втім, місцева влада наголошувала, що існує небезпека для
                        прикордонних населених пунктів.</p>

                    <p>У Чернігівській області триває процес зміцнення державного кордону та будівництво
                        фортифікаційних споруд.</p>


                </div>
                <style>
                    #container-617722309 {}

                    #container-617722309>.inner-content {
                        max-width: 945px;
                    }

                    @media screen and (max-width: 992px) {
                        #container-617722309 {}

                        #container-617722309>.inner-content {}
                    }

                    @media screen and (max-width: 576px) {
                        #container-617722309 {}

                        #container-617722309>.inner-content {}
                    }
                </style>
            </div>
        </div>
        <hr>

    </div>
</section>