<footer class="site-footer no-underline has-bg-color-footer ">
    <div class="tail">
        <div class="container  d-md-flex justify-center">
            <span class="copyright">Copyright 2024 </span>
            <div class="menu-legal-menu-container">
                <ul id="menu-legal-menu" class=" d-md-flex remove-margin">
                    <li id="menu-item-80"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-80"
                        tabindex="0"><a href="/"><span>Security, Accessibility, and Privacy Policies</span></a></li>
                    <li id="menu-item-81" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-81"
                        tabindex="0"><a target="_blank" href="https://Nebraska.gov"><span>Army 365</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>