<header class="site-header no-underline has-bg-color-header text-white">
    <div class="container relative">
        <a href="javascript:void(0);" class="d-block d-lg-none menu-toggle" aria-label="Open Menu">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </a>
        <div class="row justify-content-end align-items-center relative">
            <div class="logo-wrapper mr-auto col"><a class="logo" href="/"><img src="/images/about/NGPC_Logo_REV.png"
                        class="" alt="Nebraska Game &amp; Parks Commission"></a></div>
            <nav class="main-nav relative col-12 col-lg-9 col-xl-10">
                <div class="menu-main-menu-container">
                    <ul id="menu-main-menu" class=" row align-items-center justify-content-between remove-margin">
                        <li id="menu-item-31"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-31 dropdown"
                            tabindex="0"><a href="/" aria-haspopup="true"><span>Війська</span></a>
                            <ul class="dropdown-menu">
                                <li id="menu-item-48"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-48 dropdown"
                                    tabindex="0"><a href="/military/mechanized_troops"><span>Механізовані війська</span></a>
                                </li>
                                <li id="menu-item-294"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-294"
                                    tabindex="0"><a href="/military/tank_troops"><span>Танкові війська</span></a></li>
                                <li id="menu-item-259"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-259 dropdown"
                                    tabindex="0"><a href="/military/ppo"><span>Війська ППО</span></a></li>
                                <li id="menu-item-261"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-261 dropdown"
                                    tabindex="0"><a href="/military/army_fly"><span>Армійська авіація</span></a></li>
                                <li id="menu-item-257"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-257"
                                    tabindex="0"><a href="/military/special_force"><span>Війська спеціального
                                            призначення</span></a></li>
                            </ul>
                        </li>
                        <li id="menu-item-28"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28" tabindex="0">
                            <a href="/about_us" aria-haspopup="true"><span>Про нас</span></a>
                        </li>
                        <li id="menu-item-27"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27 " tabindex="0">
                            <a href="/news" aria-haspopup="true"><span>Новини</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>